Flask
Flask-SQLAlchemy
Flask-Login
Flask-Bcrypt
gunicorn
python-dotenv
sqlalchemy
pdf2docx
pdfplumber
pypdf
pikepdf
python-docx
openpyxl
pandas
moviepy
imageio-ffmpeg
pillow
tabula-py
opencv-python-headless
PyMuPDF